body 
{
    background-color: rgb(233, 233, 233);
}

@font-face {
    font-family: "CustomFont";
    src: url("/Font/integralcf-bold-webfont.woff") format("woff"),
} 

.card {
    position: fixed;
    top: 50%;
    margin-left: 50%;
}

#card1press {
    position: absolute;
    width: 50%;
    z-index: 3;
}
#card2press {
    position: absolute;
    width: 50%;
    z-index: 2;
}
#card3press {
    position: absolute;
    width: 50%;
    z-index: 1;
}


@media only screen and (min-width: 1921px) {
    #card1 {
        margin-left: calc(50% - 14vw);
        z-index: 3;
    }
    #card2 {
        margin-left: 50%;
        z-index: 2;
    }
    #card3 {
        margin-left: calc(50% + 14vw);
        z-index: 1;
    }

    .box {
        width: 13vw;
        height: 60vh;
    }
    .box:hover {
        width: 13.5vw;
        height: 65vh;
        transition: height 0.2s, width 0.2s;
    }
    .box:hover ~ .boxtext {
        position: relative;
        bottom: 38vh;
        opacity: 100%;
        transition: bottom 0.2s, opacity 0.2s;
    }
    .boxtext {
        bottom: 35vh;
        opacity: 0%;
    
        transition: bottom 0.2s, opacity 0.2s;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1401px)  {
    #card1 {
        margin-left: calc(50% - 19vw);
        z-index: 3;
    }
    #card2 {
        z-index: 2;
    }
    #card3 {
        margin-left: calc(50% + 19vw);
        z-index: 1;
    }
    .box {
        width: 18vw;
        height: 60vh;
    }
    .box:hover {
        width: 18.2vw;
        height: 65vh;
        transition: height 0.2s, width 0.2s;
    }
    .box:hover ~ .boxtext {
        position: relative;
        bottom: 38vh;
        opacity: 100%;
        transition: bottom 0.2s, opacity 0.2s;
    }
    .boxtext {
        bottom: 35vh;
        opacity: 0%;
    
        transition: bottom 0.2s, opacity 0.2s;
    }
}

@media only screen and (max-width: 1400px)  {
    #card1 {
        margin-top: -30vh;
        z-index: 3;
    }
    #card2 {
        margin-top: 0vh;
        z-index: 2;
    }
    #card3 {
        margin-top: 30vh;
        z-index: 1;
    }
    .box {
        width: 80vw;
        height: 26vh;
    }
    .box:hover {
        width: 82vw;
        height: 28vh;
        transition: height 0.2s, width 0.2s;
    }
    .card {
        position: absolute;
    }
    body {
        height: 150vh;
    }
    .box:hover ~ .boxtext {
        opacity: 100%;
        transition: opacity 0.2s;
    }
    .box:hover .image {
        opacity: 30%;
        transition: opacity 0.2s;
    }
    .boxtext {
        position: static;
        opacity: 0%;
        top: 50%;
    
        transition: opacity 0.2s;
    }
}

.box {
    border-radius: 25px;
    background-color: rgb(233, 233, 233);
    box-shadow: 28px 28px 50px 0 rgba(5,15,31,0.16), -23px -23px 45px 0 rgb(255, 255, 255), -31px -31px 43px 0 rgba(255, 255, 255, 0.64), 26px 26px 48px 0 rgba(5,15,31,0.16);    

    overflow: hidden;

    transform: translate(-50%, -50%); 
    position: absolute;

    transition: height 0.2s, width 0.2s;
}

.boxtext {
    transform: translate(-50%, -110%); 
    text-align: center;
    font-size: 30px;
    position: relative;
    user-select: none;
}

.image {
    transform: translate(-50%, -50%); 
    position:fixed;
    object-fit: cover;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 100%;
    z-index: 1;
    user-select:contain;

    transition: opacity 0.2s
}